
.orange-button{
    padding: 0.7rem 1.6rem;
    border-radius: 50px;
    background-color: $brightRed;
    color: $veryLightGray;
    box-shadow: 0px 13px 6px -4px rgba(242,95,58,0.33);
    transition: all 200ms;
    font-weight: 700;
    font-size: $fs-smd;
    width: 140px;
}

.orange-button:hover{
    background-color: lighten($brightRed, 10);
}


.white-button{
    width:140px;
    padding: 0.7rem 1.6rem;
    border-radius: 50px;
    background-color: $veryLightGray;
    color: $brightRed;
    font-weight: 700;
    font-size: $fs-smd;
    box-shadow: none;
    border:none;
    opacity: 1;
    transition: all 200ms;
}

.white-button:hover{

    color: lighten($brightRed,20);

}

.orange-button-clear{
    padding: 0.7rem 1.6rem;
    background-color: $brightRed;
    color:$veryLightGray;
    border-radius: 40px;
    margin-left: 10px;
    font-weight: 700;
    font-size: $fs-smd;
    transition: all 200ms;
}

.orange-button-clear:hover{
    background-color: lighten($brightRed, 10);
}


